@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

///////// Variables /////////
:root {
  --font: 'Raleway', sans-serif;
  --lightish-red: #fc3a52;
  --black :#373331;
}

/////////// RESET ///////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/////////// GENERAL ///////////
body {
  font-family: var(--font);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1140px;
  margin: auto;
}

/////////// Navbar ///////////

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  ul {
    display: flex;
    align-items: center;
    li {
      list-style-type: none;
      padding: 0 1rem;
      &:first-child{
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  a {
    text-decoration: none;
    color: #373331;
  }
}

.navbar-logo{
  width: 142px;
  height: 23px;
}

.navbar-button-filled{
  width: 190px;
  height: 42px;
  border-radius: 6px;
  background-color: var(--lightish-red);
  color: white;
  font-size: inherit;
  border: none;
  -webkit-appearance: none;
}



///////// Header ////////
header {
  display: flex;
  align-items: center;
  padding-bottom: 6.5rem; 
  h1 {
    max-width: 328px;
    font-size: 42px;
    padding: 15px 0;
  }
  p{
    max-width: 445px;
    font-size: 22px;
    line-height: 1.45;
    padding: 15px 0 30px 0;
  }
  .header-text{
    padding-right: 42px;
  }
  
}
.header-button-outline {
  width: 220px;
  height: 48px;
  border-radius: 6px;
  border: solid 2px var(--lightish-red);
  background-color: white;
  color: var(--lightish-red);
  font-size: 16px;
}



///////// Section 2 ////////
.section2{
  .section2-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    article{
      width: 360px;
      height: 262px;
      border-radius: 4px;
      box-shadow: 0 15px 20px -5px rgba(55, 51, 49, 0.15);
      padding: 1.5rem;
      img{
        padding-bottom: 1.5rem;
      }
      p{
        line-height: 1.63;
      }
    }
  }
  .section2-button{
    display: flex;
    justify-content: center;
    padding-top: 4.5rem;
  }
  .section2-button-filled{
    width: 540px;
    height: 55px;
    border-radius: 6px;
    background-color: var(--lightish-red);
    color: white;
    font-size: inherit;
    border: none;
  }
}

///////// Section 3 ////////
.section3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6.5rem;
  padding-bottom: 8rem;
  h1{
    font-size: 42px;
    line-height: 1.14;
    text-align: right;
    padding: 15px 0;
  }
  p{
    font-size: 22px;
    line-height: 1.45;
    text-align: right;
    padding: 15px 0 30px 0;
  }
  .section3-text{
    max-width: 445px;
    padding-left: 42px;
    text-align: right;
  }
}

.button-align-right{
  display: flex;
  justify-content: right;
}

/////// Footer ////////
.logo-white {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.footer{
  background-color: #212121; 

  ul{
    display: flex;
    align-items: center;
    li {
      list-style-type: none;
      padding: 0 1rem;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    
  }
  .social-media{
    img{
      padding: 0 1rem;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
}